.menu {
  position: sticky;
  background-color: #333;
  width: 100%;
  padding: 15px;
  top: 0;
  left: 0;
  margin-bottom: 20px;

  .nav {
    display: flex;
    justify-content: space-between;
  }

  .button-nav {
    border-radius: 10px;
    background-color: orangered;
    align-items: center;
    display: flex;
    cursor: pointer;
    padding: 15px;
    margin-right: 20px;
  }
  .button-nav span {
    padding-left: 10px;
    color: white;
    font-size: 24px;
  }
}
.containet-btn {
  display: flex;
  padding-right: 20px;
  justify-content: center;
  align-items:center;

}
