.card {
  max-width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 25px;
}

.btn_container {
  display: flex;
  justify-content: space-between;
}
.btn-add {
  background-color: green;
}
.btn-star {
  background-color: white;
  border: none;
}
