#root {
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cards {
  padding-top: 100px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.container__btn-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  .btn-footer {
    background-color: grey;
  }
}
